/* General Appearance */
body{
    background-image: url("../Rock-Paper-Scissors/images/background.jpg");
    background-size:cover;
    background-position: center;
    font-family:'Quicksand', Courier, monospace;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Quicksand', monospace;
    letter-spacing: 0.25em;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 4px #000000;
    border-radius: 10px;
    background-color: rgba(19, 25, 57, 0.585);
    margin-top: 50px;
}

.container{
    align-content: center;
}

/* Game Appearance */
.container .choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30vh;
  border-radius: 10px;
  margin-left: 20%;
  margin-right: 20%;
}

.choice{
    border-radius: 10px;
    background-color: rgba(19, 29, 57, 0.585);
    padding: 10px;
    margin: 10px;
    cursor: pointer;

}

.choice:hover{
    background-color: rgba(14, 20, 44, 0.8);
}

img{
    max-width: 30%;
    height: auto;
}

/* Scoreboard */
.container .scoreboard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold

}

.scoreboard .player-score{
    color: white;
    background:rgba(14, 20, 44, 0.6);
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border-color: #ffffff;
    border-style: solid;
    flex-basis: 50%;
}

.scoreboard .computer-score{
    color: white;
    background:rgba(14, 20, 44, 0.6);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    border-color: #ffffff;
    border-style: solid;
    flex-basis: 50%;
}

.result{
    color: white;
    font-size: 20px;
    font-family: 'Quicksand',monospace;
    font-weight: bold;
    align-self: center;
    flex-basis: 100%;
}


/* Button */
#restart {
    color: white;
    background-color: rgb(38, 31, 64);
    font-family: 'Quicksand', monospace;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}